* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

body {
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;

    background-color: var(--color-bg-primary);
}

html {
    scroll-behavior: smooth;

    textarea {
        resize: none;
    }
}

select {
    cursor: pointer !important;
    text-overflow: ellipsis;
}

input[type="checkbox"],
input[type="checkbox"] + label {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition:
        background-color 600000s 0s,
        color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}
