:root {
    /* STATIC COLORS */
    --color-white: #fff;
    --color-black: #000;

    /* default theme */
    /* accent colors */
    --color-accent-primary: #f0642d;
    --color-accent-gr-primary: #642a01;

    --color-accent-gr-secondary: #0a4100;
    --color-accent-secondary: #1cb600;

    /* background colors */
    --color-bg-primary: #f1f1f1;
    --color-bg-secondary: #cfcfcf;
    --color-bg-tertiary: #ebebeb;

    --color-txt-primary: #333;
    --color-txt-primary-rgb: 51, 51, 51;
    --color-txt-secondary: #ebebeb;
    // --color-txt-tertiary: #c0c0c0;

    /* navbar colors*/
    --color-bg-nav-primary: #00295c;
    --color-bg-nav-secondary: #0072c6;

    /* typography colors */
    --color-bg-title-primary: #fffcf8;
    --color-text-title-primary: #333533;

    /* accordion colors */
    --color-bg-accordion-primary: #fffcf8;
    --color-text-accordion-primary: #333;
    --color-expand-icon-accordion: #333;

    /* form colors */
    --color-input-primary: #252422;
    --color-label-primary: #9f9f9f;
    --color-bg-label: #fff;
    --color-input-border: #cccccc;
    --color-bg-container: #fff;
    --color-input-outline: #2684ff;
    --color-input-hover-border: #b3b3b3;
    --color-disabled-input: #f2f2f2;
    --color-disbaled-input-border: #e6e6e6;
    --color-disbaled-input-txt: #818181;

    /* banner colors */
    --color-logo: #333;
    --color-st3: #cfcfcf;
    --color-st24: #fff;
    --color-st31: #cfcfcf;
    --color-st38: #6c6d71;
    --color-st39: #4c4c4c;
    --color-st40: #5b5b5b;
    --color-st41: #d1d2d4;
    --color-st42: #6d6e73;
    --color-st43: #a8a9ad;
    --color-st44: #444444;
    --color-st45: #494949;
    --color-st46: #cfcfcf;

    /* grid colors */
    --color-cell-bg: #b7f5ff;
    --color-cell-header: #00295c;
    --color-table-bg: #fffcf8;
}

:root[color-scheme="chocolate"] {
    /* chocolate theme */
    /* accent colors */
    --color-accent-primary: #fdd001;
    --color-accent-gr-primary: #685602;

    --color-accent-gr-secondary: #0a4100;
    --color-accent-secondary: #1cb600;

    /* background coloras */
    --color-bg-primary: #c0c0c0;
    --color-fg-primary: #0a0908;

    /* navbar colors*/
    --color-bg-nav-primary: #373737;
    --color-bg-nav-secondary: #746458;

    // --color-sidebar-text-selected: #49111c;

    /* typography colors */
    --color-bg-title-primary: #ece9e2;

    /* accordion colors */
    --color-bg-accordion-primary: #ece9e2;
    --color-text-accordion-primary: #373737;
    --color-expand-icon-accordion: #373737;

    /* input colors */
    --color-input-border: #d7bba1;
    --color-bg-container: #ebebeb;
    --color-label-primary: #a9927d;
    --color-bg-label: #f2f4f3;

    /* banner colors */
    --color-logo: #333;
    --color-st3: #cfcfcf;
    --color-st24: #fff;
    --color-st31: #cfcfcf;
    --color-st38: #6c6d71;
    --color-st39: #4c4c4c;
    --color-st40: #5b5b5b;
    --color-st41: #d1d2d4;
    --color-st42: #6d6e73;
    --color-st43: #a8a9ad;
    --color-st44: #444444;
    --color-st45: #494949;
    --color-st46: #cfcfcf;

    /* grid colors */
    --color-cell-bg: #ece9e2;
    --color-cell-header: #373737;
    --color-table-bg: #ece9e2;
}

:root[color-scheme="green"] {
    /* green theme */
    /* accent colors */
    --color-accent-primary: #6bd425;
    --color-accent-gr-primary: #618b25;

    --color-accent-gr-secondary: #d3ca00;
    --color-accent-secondary: #4a4700;

    /* navbar colors*/
    --color-bg-nav-primary: #370926;
    --color-bg-nav-secondary: #42113c;

    /* background coloras */
    --color-bg-primary: #c0c0c0;
    --color-fg-primary: #1c0118;

    /* accordion colors */
    --color-bg-accordion-primary: #fffcf8;
    --color-text-accordion-primary: #333;
    --color-expand-icon-accordion: #333;

    /* grid colors */
    --color-cell-bg: #618b25;
    --color-cell-header: #1c0118;
    --color-table-bg: #ece9e2;

    /* input colors */
    --color-input-border: #618b25;
    --color-bg-container: #ebebeb;
    --color-label-primary: #1a260a;
    --color-bg-label: #f2f4f3;
}
