:root {
    /* STATIC COLORS */
    --color-white: #fff;
    --color-black: #000;

    /* default theme */
    /* accent colors */
    --color-accent-primary: #ff6700;
    --color-accnet-gr-primary: #642a01;
    --color-accent-secondary: #1cb600;

    --color-bg-primary: #f1f1f1;
    --color-bg-secondary: #cfcfcf;
    --color-bg-tertiary: #ebebeb;

    --color-txt-primary: #252422;
    --color-txt-secondary: #ebebeb;
    // --color-txt-tertiary: #c0c0c0;

    /* navbar colors*/
    --color-bg-nav-primary: #004e98;

    /* typography colors */
    --color-bg-title-primary: #c0c0c0;
    --color-text-title-primary: #333533;

    /* accordion colors */
    --color-bg-accordion-primary: #c0c0c0;
    --color-text-accordion-primary: #333533;
    --color-expand-icon-accordion: #333533;

    /* input colors */
    --color-input-primary: #252422;
    --color-label-primary: #9f9f9f;
    --color-bg-label: #fff;
    --color-input-border: #cfcfcf;
    --color-bg-container: #fff;
}

:root[color-scheme="chocolate"] {
    /* chocolate theme */
    /* main coloras */
    --color-bg-primary: #c0c0c0;
    --color-fg-primary: #0a0908;

    /* navbar colors*/
    --color-bg-nav-primary: #0a0908;
    --color-bg-nav-secondary: #302b27;

    // --color-sidebar-text-selected: #49111c;

    /* typography colors */
    --color-bg-title-primary: rgba(169, 146, 125, 0.5);

    /* accordion colors */
    --color-bg-accordion-primary: #5e503f;
    --color-text-accordion-primary: #f2f4f3;
    --color-expand-icon-accordion: #f2f4f3;

    /* input colors */
    --color-input-border: #d7bba1;
    --color-bg-container: #ebebeb;
    --color-label-primary: #a9927d;
    --color-bg-label: #f2f4f3;
}
