@font-face {
    font-family: sahel;
    src:
        url("../fonts/Sahel.eot") format("embedded-opentype"),
        url("../fonts/Sahel.ttf") format("truetype"),
        url("../fonts/Sahel.woff") format("woff"),
        url("../fonts/Sahel.woff2") format("woff2");
}

body {
    font-family: sahel, sans-serif !important;
}

html {
    font-family: sahel, sans-serif !important;
}

textarea {
    padding: 0.65rem !important;
}

select {
    font-family: "sahel" !important;
    padding: 0 0.5rem !important;
}

.title-primary {
    background-color: var(--color-bg-title-primary);
    color: var(--color-text-title-primary);
    border-radius: 6px;
    padding: 10px 10px;
    margin-bottom: 0;
    font-size: 1rem;
}

.title-secondary {
    font-size: 1.2rem;
    color: $color-grey-4;
    display: inline-block;
    margin-bottom: 1rem;

    &:after {
        content: "";
        display: block;
        border-top: 2px solid $color-grey-4;
        margin-top: 0.5em;
    }
}

.title-tertiary {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $color-accent-red;
    transition: text-shadow 0.25s;
    cursor: default;

    &:hover {
        text-shadow: 2px 2px 5px $color-grey-4;
    }
}

.paragraph-primary {
    color: $color-grey-5;
    padding: 1.5rem;
}

.error-form {
    color: $color-accent-red;
    font-size: 0.8rem;
    position: absolute;
    top: -50%;
    left: 0;
}
