@font-face {
    font-family: sahel;
    src:
        url("../fonts/Sahel.eot") format("embedded-opentype"),
        url("../fonts/Sahel.ttf") format("truetype"),
        url("../fonts/Sahel.woff") format("woff"),
        url("../fonts/Sahel.woff2") format("woff2");
}

body {
    font-family: sahel, sans-serif !important;
}

html {
    font-family: sahel, sans-serif !important;
}

textarea {
    padding: 0.65rem !important;
}

select {
    font-family: "sahel" !important;
    padding: 0 0.5rem !important;
}

.heading-primary {
    font-size: 2.5rem;
    color: var(--color-txt-primary);
}

.title-primary {
    color: var(--color-text-title-primary);
    font-size: 2rem;
    position: relative;
    padding: 0 1rem;
    width: max-content;

    background: linear-gradient(
        -90deg,
        var(--color-accent-primary),
        var(--color-accnet-gr-primary),
        var(--color-accent-primary)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    &::before {
        content: "";
        position: absolute;
        transition: all 0.25s ease;
        top: 0;
        right: 0;
        height: 100%;
        width: 0.2rem;
        background-color: var(--color-accent-primary);
    }

    &::after {
        content: "";
        position: absolute;
        transition: all 0.25s ease;
        top: 0;
        left: 0;
        height: 100%;
        width: 0.2rem;
        background-color: var(--color-accent-primary);
    }

    &:hover::before,
    &:hover::after {
        height: 0;
        top: 100%;
    }

    &--underline {
        &::before {
            content: "";
            position: absolute;
            transition: all 0.25s ease;
            bottom: 0;
            left: 0;
            height: 0.2rem;
            width: 0;
            background: linear-gradient(-90deg, var(--color-accnet-gr-primary), var(--color-accent-primary));
        }

        &::after {
            content: "";
            position: absolute;
            transition: all 0.25s ease;
            bottom: 0;
            right: 0;
            height: 0.2rem;
            width: 0;
            background: linear-gradient(-90deg, var(--color-accent-primary), var(--color-accnet-gr-primary));
        }
    }

    &:hover &--underline::before {
        width: 50%;
        left: 0;
    }

    &:hover &--underline::after {
        width: 50%;
        right: 0;
    }
}

.title-secondary {
    font-size: 1.2rem;
    color: $color-grey-4;
    display: inline-block;
    margin-bottom: 1rem;

    &:after {
        content: "";
        display: block;
        border-top: 2px solid $color-grey-4;
        margin-top: 0.5em;
    }
}

.title-tertiary {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: $color-accent-red;
    transition: text-shadow 0.25s;
    cursor: default;

    &:hover {
        text-shadow: 2px 2px 5px $color-grey-4;
    }
}

.paragraph-primary {
    color: $color-grey-5;
    padding: 1.5rem;
}

.error-form {
    color: $color-accent-red;
    font-size: 0.8rem;
    position: absolute;
    top: -50%;
    left: 0;
}
