.u-margin-bottom-xl {
    margin-bottom: 80px;
}

.u-margin-bottom-lg {
    margin-bottom: 40px;
}

.u-margin-bottom-md {
    margin-bottom: 20px;
}

.u-margin-bottom-xl {
    margin-bottom: 100px;
}

.u-margin-top-sm {
    margin-top: 10px;
}

.u-margin-top-md {
    margin-top: 20px;
}

.u-margin-top-lg {
    margin-top: 40px;
}
