.MuiAccordion-root {
    background-color: var(--color-bg-accordion-primary) !important;
    color: var(--color-text-accordion-primary) !important;
}

.MuiAccordionSummary-expandIconWrapper {
    color: var(--color-expand-icon-accordion) !important;
}
