.MuiLoadingButton-loadingIndicator {
    color: $color-accent-red !important;
}

.MuiLoadingButton-loading {
    color: transparent !important;
}

.back-button {
    position: absolute;
    left: 2rem;
}
