.captcha-canvas {
    border: 2px solid $color-grey-1;
    border-radius: $border-radius-secondary;
    height: 50px;
    width: 100%;
}

.rotate {
    transition: all 0.5s ease;
    transform: rotate(360deg);
}
