.captchaContainer {
    &__text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        column-gap: 100px;
        // padding: 0 50px;
        margin: 2rem 0;

        canvas {
            border: 2px solid $color-grey-2;
            border-radius: $border-radius-secondary;
            height: 50px;
            width: 100%;
        }
    }
}
