.formPic {
    display: flex;
    justify-content: center;
    align-items: cetner;
    border: 2px solid $color-grey-2;
    border-radius: $border-radius-secondary;
    height: 95px;
    width: 95px;
    cursor: pointer;
}
