.formContainer {
    background-color: var(--color-bg-container);
    border-radius: $border-radius-primary;
    margin-bottom: 10px;
    padding: 2rem 1.5rem;
    transition: max-height 0.2s ease-out;

    &--width-lg {
        width: 55rem;
    }
}

.formContainer-transparent {
    border-radius: $border-radius-primary;
    margin-bottom: 10px;
    padding: 2rem 1.5rem;
    transition: max-height 0.2s ease-out;

    &--width-lg {
        width: 55rem;
    }
}
