.MuiBox-root {
    flex-direction: row-reverse !important;
}

.MuiList-root > .MuiButtonBase-root {
    justify-content: right !important;
}

.MuiListItemIcon-root {
    margin-left: 10px !important;
}
