// .MuiPaper-root {
//     font-family: sahel !important;
// }

// .grid__container {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 50px;
// }

.skeleton {
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
