.inputBox {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

.input {
    width: 100%;
    height: 5.5rem;
    font-size: 1.6rem;
    background: transparent;
    color: $color-grey-1;
    padding-inline: 2rem 5rem;
    border: 2px solid $color-grey-2;
    border-radius: $border-radius-secondary;
    outline: none;
    text-align: right;
}

.label {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    transition: 0.2s;
    font-size: 1.6rem;
}

.field:focus ~ .label,
.field:valid ~ .label {
    position: absolute;
    top: -1rem;
    right: 2rem;
    font-size: 1.6rem;
    background-color: $color-grey-2;
    color: $color-grey-5;
    border-radius: $border-radius-secondary;
    padding: 0 1rem;
}
