.main {
    margin-top: $margin-top-main;
    margin-right: $side-nav-width;
    padding: 0 $padding-primary;

    &--rflex {
        display: flex;
        justify-content: right;
        align-items: center;
        column-gap: 50px;
    }

    &--title {
        width: 50%;
    }

    > *:not(:first-child) {
        margin-top: $margin-top-small;
    }
}
