.Modal {
    position: fixed;
    background-color: $color-grey-1;
    padding: 20px;
    border-radius: $border-radius-primary;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;

    &__close {
        position: absolute;
        top: 10px;
        right: 20px;
    }

    &__header {
        text-align: center;
    }

    &__body {
        max-height: 600px;
        overflow-y: auto;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 10;
}
