.MuiTabs-indicator {
    background-color: #b63f00 !important;
    color: #b63f00 !important;
}

.MuiTab-root.Mui-selected {
    color: red !important;
}

.MuiTab-root {
    font-family: sahel !important;
    font-size: 20px !important;
}
