.react-clock__face {
    border: none !important;
}

.react-clock__mark__body {
    background-color: $color-grey-2 !important;
}

.react-clock__hand__body {
    background-color: $color-grey-2 !important;
}

.react-clock__second-hand__body {
    background-color: red !important;
}
