.ProfilePicture {
    padding: 10px;
    border-radius: 50%;
    background-color: $color-grey-3;
    position: relative;
    cursor: pointer;
    transition: all 0.25s;
    width: 40px;
    height: 40px;

    &__icon {
        text-decoration: none;
        list-style: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.25s;
        }
    }

    &:hover {
        background-color: $color-grey-1;
    }

    &:hover .ProfilePicture__icon svg {
        color: $color-grey-3;
    }
}
