.SearchPensioner {
    background-color: $color-grey-1;
    border-radius: $border-radius-primary;
    margin-bottom: 10px;
    padding: 0 20px;

    &__form {
        display: grid;
        direction: rtl;
        grid-template-columns: repeat(4, 1fr);
        padding: 30px 0;
        gap: 10px;

        &--colSpan4 {
            grid-column: span 4;
            height: 55px;
        }

        &--colSpan3 {
            grid-column: span 3;
            height: 55px;
        }

        &--btn {
            height: 55px;
        }
    }
}
