.ps-sidebar-root {
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	padding-top: $top-nav-height !important;
	overflow-x: hidden !important;
	min-width: $side-nav-width !important;
	width: $side-nav-width !important;
	z-index: 8 !important;
	height: 100% !important;
}

.ps-sidebar-container {
	background-color: $color-dark-purple-1 !important;
	color: $color-grey-2 !important;
}

.ps-menu-button {
	transition: all 0.25s;

	&:hover {
		background-color: $color-dark-purple-2 !important;
	}
}

.ps-submenu-content {
	background-color: $color-grey-3 !important;
}
