.ps-sidebar-root {
	position: fixed !important;
	right: 0 !important;
	top: 0 !important;
	padding-top: $top-nav-height !important;
	overflow-x: hidden !important;
	min-width: $side-nav-width !important;
	width: $side-nav-width !important;
	z-index: 9 !important;
	height: 100% !important;
	font-size: 1rem !important;
	border-left-style: none !important;
}

.ps-sidebar-container {
	background-color: $color-grey-3 !important;
	color: $color-grey-5 !important;
}

.ps-menu-button {
	transition: all 0.25s;

	&:hover {
		background-color: $color-grey-1 !important;
	}
}

.ps-menu-label {
	display: flex;
}

.ps-submenu-content {
	background-color: $color-grey-2 !important;
}

.ps-active {
	background-color: $color-grey-1 !important;
	color: $color-fg-primary !important;
}
