.slip-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    row-gap: 50px;
    width: 100%;

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 25px;

        &--img {
            width: 110px;
        }

        &--sub {
            font-size: 15px;
            text-align: center;
        }
    }

    &__info-table {
        table-layout: auto !important;

        & tr {
            background-color: #e2efd9;
        }
    }

    &__items-table-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        row-gap: 50px;

        & thead tr th {
            text-align: center;
        }

        & tbody tr td {
            text-align: center;
        }
    }

    &__total-table-container {
        width: 100%;

        & thead tr th {
            text-align: center;
        }

        & tr {
            background-color: #fbe4d5;
        }
    }

    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 10px;
    }
}

/* APPLY SETTINGS TO ALL TABLES */
.form-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    & th,
    & td {
        border: 1px solid black;
    }

    & th {
        text-align: right;
        padding: 5px;
    }

    &__body {
        & td {
            padding-inline: 5px;
            // text-align: center;
        }
    }
}
