/* Logo SVG Styles */
.logo__svg {
    fill: var(--color-logo);
}

/* Banner SVG Styles */

.st3 {
    fill: var(--color-st3);
}

.st24 {
    fill: var(--color-st24);
}

.st31 {
    fill: var(--color-st31);
}

.st38 {
    fill: var(--color-st38);
}

.st39 {
    fill: var(--color-st39);
}

.st40 {
    fill: var(--color-st40);
}

.st41 {
    fill: var(--color-st41);
}

.st42 {
    fill: var(--color-st42);
}

.st43 {
    fill: var(--color-st43);
}

.st44 {
    fill: var(--color-st44);
}

.st45 {
    fill: var(--color-st45);
}

.st46 {
    opacity: 0.57;
    fill: var(--color-st46);
    enable-background: new;
}

.st47 {
    opacity: 0.82;
    fill: var(--color-st3);
    enable-background: new;
}

.st48 {
    opacity: 0.35;
    fill: var(--color-st3);
    enable-background: new;
}
