.dashboard-body {
    font-family: sahel, sans-serif !important;
    text-align: right !important;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
    text-align: center !important;
}

.devider {
    background-color: $color-grey-3;
}
