.login {
    background-color: $color-login-bg;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__info {
        background: $color-login-info-bg-100;
        background: -webkit-linear-gradient(295deg, $color-login-info-bg-100 0%, $color-login-info-bg-0 100%);
        background: linear-gradient(295deg, $color-login-info-bg-100 0%, $color-login-info-bg-0 100%);
        position: relative;
        width: 35rem;
        height: 35rem;
        border-radius: 1.5rem;
        transform: translateX(-25%);

        &--title {
            position: absolute;
            left: 50%;
            top: 8%;
            transform: translateX(-50%);
            width: 430px;
            padding: 10px 20px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                right: -15px;
                width: 50px;
                height: 64px;
                transform: translateY(-50%);
                background-color: $color-login-bg;
                clip-path: polygon(38% 0, 58% 0, 20% 100%, 0% 100%);
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -30px;
                width: 50px;
                height: 64px;
                transform: translateY(-50%);
                background-color: $color-login-bg;
                clip-path: polygon(38% 0, 58% 0, 20% 100%, 0% 100%);
            }

            .title-wrapper {
                background-color: $color-login-bg;
                width: 100%;
                height: 100%;
                clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
                padding: 10px 10px;

                h1 {
                    color: $color-login-title-1;
                    font-family: IranYekan;
                    font-size: 25px;
                    text-align: center;
                    font-weight: 100;
                }
            }
        }
    }

    &__credentials {
        padding: 20px 25px;
        background-color: $color-white;
        position: absolute;
        width: 25rem;
        height: 30rem;
        border-radius: 1.5rem;
        right: -380px;
        top: 50%;
        transform: translateY(-50%);

        &--wrapper {
            position: relative;
        }

        &--icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
        }

        &--title {
            h1 {
                color: $color-login-title-2;
                font-family: IranYekan;
                font-size: 25px;
                text-align: center;
                font-weight: 100;
            }
        }

        &--form {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            padding: 10px 20px;
            // margin-top: 60px;
        }

        &--input {
            border: none;
            background-color: $color-login-input-bg;
            padding: 10px;
            border-radius: 4px;
            width: 100%;
            color: $color-login-title-1;

            &:focus {
                border-color: rgba(229, 103, 23, 0.8);
                box-shadow:
                    0 1px 1px rgba(229, 103, 23, 0.075) inset,
                    0 0 8px rgba(229, 103, 23, 0.6);
                outline: 0 none;
            }
        }

        &--label {
            font-size: 12px;
            font-family: IranYekan;
        }

        &--captcha {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;

            &-canvas {
                width: 100%;
                border-radius: 4px;
            }

            &-icon {
                position: absolute;
                top: 50%;
                right: -30px;
                transform: translateY(-50%);
            }
        }

        &--forgot {
            h5 {
                color: $color-login-forgot;
                text-align: center;
                cursor: pointer;
                font-weight: 100;
                font-family: IranYekan;
                transition: all 1s;

                &:hover {
                    color: $color-login-forgot-hover;
                }
            }
        }
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #ffffff !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}
