.grid {
    display: grid;
    grid-auto-rows: 40px;
    gap: 15px;

    &--col-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &--col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &--col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.col-span-4 {
    grid-column: span 4;
}

.row-span-2 {
    grid-row: span 2;
}

.row-col-span-2 {
    grid-row: span 2;
    grid-column: span 2;
}

.row-col-span-3 {
    grid-row: span 3;
    grid-column: span 3;
}
