// bg colors
$color-bg-primary: #f1f1f1;
$color-bg-secondary: #f8f8f8;

// grey colors
$color-grey-1: #ebebeb;
$color-grey-2: #cfcfcf;
$color-grey-3: #c0c0c0;
$color-grey-4: #9f9f9f;
$color-grey-5: #333533;
$color-grey-6: #252422;

/* login page colors */
$color-login-bg: #eae9e9;
$color-login-info-bg-0: #5284c3;
$color-login-info-bg-100: #00295c;
$color-login-title-1: #333;
$color-login-title-2: #135aae;
$color-login-input-bg: #f6f4f4;
$color-login-forgot: #277de1;
$color-login-forgot-hover: #ff6700;

// fg colors
$color-fg-primary: #004e98;
$color-fg-secondary: #3a6ea5;
$color-fg-tertiary: #417bbb;

// accent colors
$color-accent-red: #ff6700;

// main colors
$color-black: #000;
$color-white: #fff;

// units variables
// radius
$border-radius-primary: 4px;
$border-radius-secondary: 6px;

// dimentions
$top-nav-height: 100px;
$side-nav-width: 200px;
$inputBox-height: 55px;

// margins
$margin-top-main: 150px;
$margin-top-small: 50px;

// paddings
$padding-primary: 20px;
