// grey color
$color-grey-1: #eee;
$color-grey-2: #d6d6d6;
$color-grey-3: #a0a0a0;
$color-grey-4: #333533;
$color-grey-5: #252422;

// yellow colors
$color-primary-light: #ffee32;
$color-primary-dark: #ffd100;
$color-primary-darkest: #ff9e01;

$color-orange: #eb5e28;

// main colors
$color-black: #000;
$color-white: #fff;

$bg-color-main: #fffcf2;

$test1: #ccc5b9;
$test2: #403d39;

$color-primary: #c6c3c3;
$color-secondary: #fff;
